margin {
  /*5:5;*/
}

margin {
}

margin {
  5%:5%;
}

.fa.fa-instagram {
  margin:5px;
}

img {
  width:100%;
}

img {
  width:100%;
}

img {
  width:100%;
}

img {
  width:100%;
}

.card-img-top.w-100.d-block {
  width:100%;
}

